# Prerequisites
*.d

# Compiled Object files
qdyn
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib

# Executables
*.exe
*.out
*.app
*.dwf
*.pdb

#Q Test files
*.dcd
*.log
*.re
*.en

__pycache__/*
#test/water/no_ion/*
test/ethane-ethanol/test/*
test/ethane-ethanol/FEP_*
test/ethanol-methane/test/*
test/ethanol-methane/FEP_*
.fuse

*.pyc
*.fuse*

.DS_Store
*.csv
*.json
*.calc
*.pml
*.inp

# benchmark files
benchmark/FEP_solvation/2.Q7/1.water/
benchmark/FEP_solvation/2.Q7/2.vacuum/
benchmark/FEP_ligand_binding/2.Q7/1.protein/
benchmark/FEP_ligand_binding/2.Q7/2.water/

# SMILES based intermediates
app/Data/SMinterm/Tyk2_ligands.sdf