# Prerequisites
*.d

# Compiled Object files
qdyn
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib

# Executables
*.exe
*.out
*.app
*.dwf
*.pdb

#Q Test files
*.dcd
*.log
*.re
*.en

__pycache__/*
#test/water/no_ion/*
test/ethane-ethanol/test/*
test/ethane-ethanol/FEP_*
test/ethanol-methane/test/*
test/ethanol-methane/FEP_*
.fuse

*.pyc
*.fuse*

.DS_Store
*.csv
*.json
*.calc
*.pml
*.inp

FEP_solvation  MD_water
benchmark/FEP_solvation/1.Q-cpu/
benchmark/FEP_solvation/1.water/
benchmark/FEP_solvation/2.Q-gpu/2.vacuum/
benchmark/FEP_solvation/submit.py
test/1.interactions/*/*/Q5_data/
test/1.interactions/*/*/compare.py
test/1.interactions/*/*/*/Q5_data/
test/1.interactions/*/*/*/compare.py
