# Prerequisites
*.d

# Compiled Object files
qdyn
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib

# Executables
*.exe
*.out
*.app
*.dwf
*.pdb

#Q Test files
*.dcd
*.log
*.re
*.en

__pycache__/*
#test/water/no_ion/*
test/ethane-ethanol/test/*
test/ethane-ethanol/FEP_*
*.pyc

.DS_Store
*.csv
*.json
*.calc
*.pml
*.inp
test/solvation_energies/2.Q-gpu/1.water/*
test/solvation_energies/2.Q-gpu/2.vacuum/*
test/solvation_energies/2.Q-gpu/submit.py
test/solvation_energies/1.Q-cpu
