recursive-include src/QligFEP/FF *
recursive-include src/QligFEP/INPUTS *
recursive-include src/QligFEP/resources *
recursive-include src/q6 *.f90 *.F90
include src/q6/makefile
include src/q6/bin/q6/*
